* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.contianer {
  margin: 10rem auto;
  width: 40rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
}

p,
h1 {
  text-align: center;
  padding: 5px 0;
}

input {
  text-align: center;
  font-size: 1.6rem;
  padding: 5px;
  margin: 1rem 0;
  width: 100%;
  border-radius: 9px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 15px;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  background-color: lightcoral;
  border-radius: 1rem;
  color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
  padding: 4px 8px;
  border: none;
  border-radius: 1rem;
  background-color: red;
  width: 5rem;
  font-size: 1rem;
}
